@import "../../../asset/scss/custom_variables";

.logo 
{
  display: block;
  width: 99px;
  height: 57px;
  background: url("./logo.svg") no-repeat;
  text-indent: 101%;
  white-space: none;
  overflow: hidden;
  transform: scale(.8);
  transition: .3s linear;
}
.custom_nav
{
  a
  {
    position: relative;
    padding: 26px 10px 10px;
    &::before
    {
      content: attr(data-text);
      margin: 26px 10px 0 24px;
      padding: 8px 0 0 28px;
      position: absolute;
      top: 0%;
      left: 0%;
      font-size: calc($font-size-base * .875);
      width: 0%;
      height: 48%;
      border-radius: 4px;
      color: $light;
      overflow: hidden;
      transition: .3s;
    }
    &:hover::before,
    &.active::before
    {
      padding: 8px 0 0 28px;
      width: 75%;
    }
  }
  span
  {
    margin: 6px 8px;
  }
  .link-red 
  {
    &:hover::before,
    &.active::before
    {
      background: $primary;
    }
    span 
    {
      color: $primary;
      border-bottom: 1px solid $primary;
    }
  }
  .link-yellow
  { 
    &:hover::before,
    &.active::before
    {
      background: $secondary
    }
    span
    {
      color: $secondary;
      border-bottom: 1px solid $secondary;
    }
  }
  .link-green
  {
    &:hover::before,
    &.active::before
    {
      background: $info;
    }
    span
    {
      color: $info;
      border-bottom: 1px solid $info;
    }
  }
}
.container
{
  transition: .3s linear;
}
.isTop
{
  .logo
  {
    transform: scale(1);
  }
}