@import "../../../asset/scss/custom_variables";

.logo 
{
  display: block;
  width: 99px;
  height: 57px;
  background: url("./logo.svg") no-repeat;
  text-indent: 101%;
  white-space: none;
  overflow: hidden;
  transform: scale(.8);
  transition: .3s linear;
}
.custom_nav
{
  a
  {
    padding: 26px 10px 10px;
  }
  span
  {
    margin: 6px 8px;
  }
  li:nth-child(1) span
  {
    color: $primary;
    border-bottom: 1px solid $primary;
  }
  li:nth-child(2) span
  {
    color: $secondary;
    border-bottom: 1px solid $secondary;
  }
  li:nth-child(3) span
  {
    color: $info;
    border-bottom: 1px solid $info;
  }
}
.container
{
  transition: .3s linear;
}
.isTop
{
  .logo
  {
    transform: scale(1);
  }
}