@import "../../../asset/scss/custom_variables";

.custom_banner
{
  margin-bottom: 90px;

  & > div
  {
    height: calc(95vh - 129px);
    overflow: hidden;
  }
  img
  {
    min-width: 100vw;
    filter: brightness(80%);
  }
  form + form
  {
    margin-top: 10px;
  }

  &.custom_shadow
  {
    &::before
    {
      left: 0;
      transform: skewY(-4deg);
    }
    &::after
    {
      right: 0;
      transform: skewY(4deg);
    }
  }
  i
  {
    display: inline-block;
    text-indent: 101%;
    white-space: none;
    overflow: hidden;
  }
  span
  {
    position: relative;
    &::before
    {
      content: '';
      position: absolute;
      left: 37%;
      top: 22%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14px 8px 0 10px;
      border-color: $primary transparent transparent transparent;
      transform: rotate(-40deg);
    }
  }
}
.o
{
  margin-left: 6px;
  width: 32px;
  height: 32px;
  border: 7px solid $primary;
  transform: translateY(3px);

  &_circle
  {
    margin: 0 2px;
    border-radius: 50%;
  }
}
.i_triangle
{
  margin: 0 4px;
  height: 29px;
  width: 6px;
  background: $primary;
  transform: translateY(1px);
}