@import "../../../asset/scss/custom_variables";

.custom_banner
{
  margin-bottom: 90px;

  & > div
  {
    height: calc(100vh - 129px);
    overflow: hidden;
  }
  img
  {
    position: relative;
    top: -20%;
    min-width: 100%;
    object-fit: cover;
  }
  form + form
  {
    margin-top: 10px;
  }
}