@import "../../../asset/scss/custom_variables";

.custom_banner
{
  margin-bottom: 90px;

  & > div
  {
    height: calc(100vh - 129px);
    overflow: hidden;
  }
  img
  {
    position: relative;
    top: -10%;
    min-width: 100vw;
    min-height: 120vh;
    object-fit: cover;
  }
  form + form
  {
    margin-top: 10px;
  }

  &.custom_shadow
  {
    &::before
    {
      left: 0;
      transform: skewY(-4deg);
    }
    &::after
    {
      right: 0;
      transform: skewY(4deg);
    }
  }
}