@import "../../../asset/scss/custom_variables";

.custom_banner
{
  margin-bottom: 90px;

  & > div
  {
    height: calc(95vh - 129px);
    overflow: hidden;
  }
  img
  {
    min-width: 100vw;
    filter: brightness(80%);
  }
  form + form
  {
    margin-top: 10px;
  }

  &.custom_shadow
  {
    &::before
    {
      left: 0;
      transform: skewY(-4deg);
    }
    &::after
    {
      right: 0;
      transform: skewY(4deg);
    }
  }
}