@import '../../../asset/scss/custom_variables';

.popularCities
{
  ul
  {
    max-height: 400px;
    overflow: hidden;
  }

  img
  {
    filter: brightness(80%);
  }

  .prev
  {
    right: 95%;
  }
  .next
  {
    left: 95%;
  }
}