@import '../../../asset/scss/custom_variables';

.popularCities
{
  .section
  {
    overflow: hidden;
  }
  ul
  {
    max-height: 380px;
  }

  h3
  {
    margin-right: -1rem;
    letter-spacing: 1rem;
  }

  img
  {
    filter: brightness(80%);
  }

  .prev
  {
    left: -5%;
  }
  .next
  {
    right: -5%;
  }
}