.custom_shadow
{
  position: relative;

  &::before,
  &::after
  {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 50px;
    background: $shadow;
    filter: blur(3px);
    z-index: -1;
  }

  &::before
  {
    left: 1%;
    transform: skewY(-4deg);
  }

  &::after
  {
    right: 1%;
    transform: skewY(4deg);
  }
}
.section
{
  margin-bottom: 60px;
}