$primary:   #FF1D6C;
$secondary: #FFB72C;
$info:      #007350;
$dark:      #0D0B0C;
$light:     #FFFFFF;
$gray-light:#D2D2D2;
$gray:      #ACACAC;
$shadow:    rgba(13, 11, 12, 0.2);
$body-bg:   #E5E5E5;
$body-color: $dark;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "dark": $dark,
  "light": $light,
  "gray": $gray
);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&family=Roboto:wght@400;700&display=swap');

$font-family-sans-serif: "Noto Sans TC", "Roboto", "sans-serif";

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * .75,
  4: $spacer,
  5: $spacer * 1.125,
  6: $spacer * 1.75,
  7: $spacer * 2
);

$font-size-base: 1rem;
$font-sizes: (
  1: 50px,
  2: $font-size-base * 1.25,
  3: $font-size-base * 1.125,
  4: $font-size-base,
  5: $font-size-base * .875,
  6: $font-size-base * .75
);

$box-shadow: 0 .2rem .2rem $shadow;
$border-radius: 6px;

$link-decoration: none;

$card-border-width:   0;
$card-border-radius:  0;
/*
 * `$input`
 */
$input-bg:                $light;
$input-border-width:      0;
$input-focus-width:       0;
$input-placeholder-color: $gray-light;
$input-btn-padding-y:     8px;
$input-btn-padding-x:     12px;
$form-select-indicator:   url('data:image/svg+xml,<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 7.5L0.102887 0.750001L7.89711 0.750001L4 7.5Z" fill="#0D0B0C"/></svg>');

$aspect-ratios: (
  "1x1": 100%,
  "5x3": calc(3 / 5 * 100%),
  "3x4": calc(4 / 3 * 100%)
);