ul
{
  list-style: none;
  padding: 0;
}
img
{
  display: block;
  object-fit: cover;
}
.form-control:focus
{
  box-shadow: none;
}
.select
{
  cursor: pointer;
  ul
  {
    display: none;
  }
  &.active
  {
    ul
    {
      display: flex;
      max-height: 320px;
      overflow: auto;
    }
  }
  .option,
  .option a
  {
    background: $light;
    color: $dark;
    &:hover
    {
      background: $primary;
      color: $light;
    }
  }
}
.swiper
{
  &-slide
  {
    height: max-content;
  }
  &-button
  {
    &-prev,
    &-next
    {
      background: $light no-repeat center;
      height: 32px;
      width: 32px;
      border-radius: 3px;
      border: 0;
      box-shadow: 0 0.25rem 0.25rem $shadow;

      &:hover
      {
        background: $dark no-repeat center;
        color: $light;
      }
      &::after
      {
        display: none
      }
    }
    &-prev
    {
      background-image: url('../icon/prev.svg');
      left: -5%;
      &:hover
      {
        background-image: url('../icon/prev-white.svg');
      }
    }
    &-next
    {
      background-image: url('../icon/next.svg');
      right: -5%;
      &:hover
      {
        background-image: url('../icon/next-white.svg');
      }
    }
    &-disabled
    {
      opacity: 0 !important;
    }
  }
}
.pagination
{
  .swiper-button-prev,
  .swiper-button-next
  {
    position: static;
    background: $dark no-repeat center;
    transform: translateY(16px);
  }
  .swiper-button-prev
  { 
    background-image: url('../icon/prev-white.svg');
  }
  .swiper-button-next
  {
    background-image: url('../icon/next-white.svg');
  }
}
.custom_shadow
{
  position: relative;

  &::before,
  &::after
  {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 50px;
    background: $shadow;
    filter: blur(3px);
    z-index: -1;
  }

  &::before
  {
    left: 3%;
    transform: skewY(-14deg);
  }
  &::after
  {
    right: 3%;
    transform: skewY(14deg);
  }

  &.activity::before
  {
    left: 1%;
    transform: skewY(-6deg);
  }
  &.activity::after
  {
    right: 1%;
    transform: skewY(6deg);
  }
}
.title
{
  height: 42px;
}
.section
{
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.fill-primary path
{
  fill: $primary;
}
.text-overflow
{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  &-1
  {
    -webkit-line-clamp: 1;
  }
  &-5
  {
    -webkit-line-clamp: 5;
  }
}
.btn-primary:hover
{
  color: #fff;
}
.text-shadow
{
  text-shadow: 0 4px 4px $shadow;
}